$bg: #403F4D;
$green: #37c988;
$yellow: #F7F879;
$red: #E1675A;

$input-color: #2E2D33;
$item-color: #4E4D5C;
$font-color: #FBFAFB;

$big-font-size: 64px;
$heading-font-size: 24px;
$item-font-size: 18px;

$container-padding: 40px;